<html>
<head>
<title> LOAN PRICE PREDICTION</title> 
</head>
<body style="background-color: rgba(0, 242, 255, 0.905);">
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOAN PRICE PREDICTION
    <br><br>
    <form action="/pred" method ='POST'>
         <img src="static\bank2.jfif" height="40%",width="5000%"> 
        
        
        <br>
        
        <br><br><br><br>

        <label>age</label><input type="text" name ="age"><br><br>
        
       
        <label for="job">Choose your job:</label>
        <select name="job" id="job">
        <option value="housemaid">housemaid</option>
        <option value="services">services</option>
        <option value="admin.">admin.</option>
        <option value="blue-collar">blue-collar</option>
        <option value="technician">technician</option>
        <option value="retired">retired</option>
        <option value="management">management</option>
        <option value="unemployed">unemployed</option>
        <option value="self-employed">self-employed</option>
        <option value="unknown">unknown</option>
        <option value="entrepreneur">entrepreneur</option>
        <option value="student">student</option>
        </select><br><br>
        
        <label for="marital">Choose a Marital Status:</label>
        <select name="marital" id="marital">
        <option value="married">married</option>
        <option value="single">single</option>
        <option value="divorced">divorced</option>
        <option value="unknown">unknown</option>
        </select><br><br>

        <label for="education">Choose your Education Status:</label>
        <select name="education" id="education">
        <option value="basic.4y">basic.4y</option>
        <option value="high.school">high.school</option>
        <option value="basic.6y">basic.6y</option>
        <option value="basic.9y">basic.9y</option>
        <option value="professional.course">professional.course</option>
        <option value="unknown">unknown</option>
        <option value="university.degree">university.degree</option>
        <option value="illiterate">illiterate</option>
        </select><br><br>

        <label for="default">Choose a Default Value :</label>
        <select name="default" id="default">
        <option value="yes">yes</option>
        <option value="no">no</option>
        <option value="unknown">unknown</option>
        </select><br><br>

         <label for="housing">Choose a Housing Value :</label>
        <select name="housing" id="housing">
        <option value="yes">yes</option>
        <option value="no">no</option>
        <option value="unknown">unknown</option>
        </select><br><br>

        <label for="loan">Choose a Loan Value :</label>
        <select name="loan" id="loan">
        <option value="yes">yes</option>
        <option value="no">no</option>
        <option value="unknown">unknown</option>
        </select><br><br>

         <label for="contact">Choose a contact  :</label>
        <select name="contact" id="contact">
        <option value="telephone">telephone</option>
        <option value="cellular">cellular</option>
        </select><br><br>

        <label for="month">Choose a month :</label>
        <select name="month" id="month">
        <option value="may">may</option>
        <option value="jun">jun</option>
        <option value="jul">jul</option>
        <option value="aug">aug</option>
        <option value="oct">oct</option>
        <option value="nov">nov</option>
        <option value="dec">dec</option>
        <option value="mar">mar</option>
        <option value="apr">apr</option>
        <option value="sep">sep</option>
        </select><br><br>

        <label for="day_of_week">Choose a day_of_week :</label>
        <select name="day_of_week" id="day_of_week">
        <option value="mon">mon</option>
        <option value="tue">tue</option>
        <option value="wed">wed</option>
        <option value="thu">thu</option>
        <option value="fri">fri</option>
        </select><br><br>

        <label>duration</label><input type="text" name ="duration"><br><br>
        <label>campaign</label><input type="text" name ="campaign"><br><br>
        <label>pdays</label><input type="text" name ="pdays"><br><br>
        <label>previous</label><input type="text" name ="previous"><br><br>
        
        <label for="poutcome">Choose a poutcome  :</label>
        <select name="poutcome" id="poutcome">
        <option value="success">success</option>
        <option value="failure">failure</option>
        <option value="nonexistent">nonexistent</option>
        </select><br><br>

        <label>emp_var_rate</label><input type="text" name ="emp_var_rate"><br><br>
        <label>cons_price_idx</label><input type="text" name ="cons_price_idx"><br><br>
        <label>cons_conf_idx</label><input type="text" name ="cons_conf_idx"><br><br>
        <label>euribor3m</label><input type="text" name ="euribor3m"><br><br>
        <label>nr_employed</label><input type="text" name ="nr_employed"><br><br>


         
        <input type="submit">
      
        <br><br>
        
    </form>
    
</body>
</html>